
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Implementações/RNF-acuracia/modeloKNN/data/completeNORAM.csv
Implementações/RNF-acuracia/modeloKNN/data/dfColunas
Implementações/RNF-acuracia/modeloKNN/modelo.pkl

