.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: center;
  width: 100%;

  h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 2.2rem;
    white-space: nowrap;
  }

  button {
    align-self: center;
    margin-top: 1rem;
  }
}

.formContent {
  display: flex;
  gap: 10rem;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

@media (max-width: 1000px) {
  .formContent {
    flex-direction: column;
    gap: 0;
    margin-bottom: 2rem;
  }

  .firstColumn {
    width: 100%;
  }

  .secondColumn {
    width: 100%;
  }
}